<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">

      <mat-form-field>

        <input matInput type="email" name="email"
              ngModel #email="ngModel" required
              minlength="3" email="email"
               placeholder="Email">


        <mat-error *ngIf="email.errors?.required">
          The e-mail is mandatory.
        </mat-error>
        <mat-error *ngIf="email.errors?.minlength">
          Your email must have minimum {{ email.errors?.minlength.requiredLength }} chars,
          but it only has {{ email.errors?.minlength.actualLength }}.
        </mat-error>
        <mat-error *ngIf="email.errors?.email">
          This is not a valid e-mail.
        </mat-error>
      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" name="password"
        ngModel #password="ngModel" required
        placeholder="Password">

      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
        Login
      </button>

    </form>

    <div class="form-val">
      {{ loginForm.value | json }}
    </div>

  </mat-card-content>
</mat-card>
